<ion-view title="Projects">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios7-gear-outline"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="onRefresh()">
        </ion-refresher>
        <ion-list >
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="query">
            </label>
            <ion-item ng-repeat="project in projectListArr | filter:query | orderBy: 'ProjectName'">
                {{project.ProjectName}}
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>