/*helper classes*/

.c-top-5 {
margin-top: 5px;
}

body {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

/*Log in Page - start*/

.c-login-view {
    background-color: #e5e5e5;
}

.c-login-list {
    width: 85%;
    margin: 0 auto;
    background-color: #e5e5e5;
}

    .c-login-list .item {
        margin-top: 3px;
        border-radius: 4px !important;
        border-color: #e5e5e5;
    }

        .c-login-list .item i {
            color: #2b6b90;
        }

    .c-login-list .item-checkbox {
        background-color: #e5e5e5;
        border-color: #e5e5e5;
        font-size: 14px;
    }

    .c-login-list .checkbox input:before, .checkbox .checkbox-icon:before {
        border-color: #2b6b90;
    }

    .c-login-list .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
        background: #2b6b90;
    }

    .c-login-list .c-button {
        border-color: #e5e5e5;
        background-color: #2b6b90;
        color: #fff;
        border-radius: 4px !important;
    }

.button.button-custom {
    border-color: #e5e5e5;
    background-color: #2b6b90;
    color: #fff;
}

    .button.button-custom:hover {
        color: #fff;
        text-decoration: none;
    }

    .button.button-custom.active, .button.button-custom.activated {
        border-color: #e5e5e5;
        background-color: #22526d;
        box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
    }

    .button.button-custom.button-clear {
        border-color: transparent;
        background: none;
        box-shadow: none;
        color: #2b6b90;
    }

    .button.button-custom.button-icon {
        border-color: transparent;
        background: none;
    }

    .button.button-custom.button-outline {
        border-color: #e5e5e5;
        background: transparent;
        color: #2b6b90;
    }

        .button.button-custom.button-outline.active, .button.button-custom.button-outline.activated {
            background-color: #2b6b90;
            box-shadow: none;
            color: #fff;
        }

.c-login-view .c-error-message {
    margin: 0 auto;
    text-align: center;
    color: #e04646;
    height: 20px;
}

.c-login-view .c-logo {
    text-align: center;
    margin-bottom: 3%;
}

    .c-login-view .c-logo img {
        width: 100px;
        height: 100px;
    }

    .c-login-view .c-logo span {
        display: block;
    }
/*Log in Page - End*/

/*Loader */

.host {
    background: #FFF;
    width: 50px;
    height: 20px;
    margin: auto;
    padding-top: 40px;
}

.loading {
    width: 10px;
    height: 10px;
    background: #FFF;
    border-radius: 100%;
    float: left;
    margin-right: 5px;
}

.loading-0 {
    -webkit-animation: bounce 1s infinite;
    -webkit-animation-delay: .1s;
    background: #009DC6;
}

.loading-1 {
    -webkit-animation: bounce 1s infinite;
    -webkit-animation-delay: .3s;
    background: #e8b440;
}

.loading-2 {
    -webkit-animation: bounce 1s infinite ease;
    -webkit-animation-delay: .5s;
    background: #b62327;
}

@-webkit-keyframes bounce {
    0%, 100% {
        opacity: 1;
    }

    60% {
        opacity: .0;
    }
}

/*Loader */

/*Project List page*/
.c-ion-item .item-content {
    padding: 10px 10px 10px 10px !important;
}

.c-project-item-conttainer {
}

.c-initial-col {
    margin-top: 20px;
    padding: 0;
}

.c-initail-circle {
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    color: white;
}

.c-info-row {
    padding: 0;
}

    .c-info-row .col-1 {
        margin-right: 5px;
    }

    .c-info-row .col-2 {
    }

.c-info-col {
    padding: 0;
}

.c-project-name {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
}

.c-info-col i {
    float: right;
    color: rgb(155, 154, 154);
}

.c-info-title {
    text-transform: uppercase;
    font-size: 10px;
    color: rgb(155, 154, 154);
    font-weight: 400;
}

.c-info-val {
    font-weight: 300;
    text-transform: capitalize;
}

.c-percent-comp {
    color: rgb(150, 149, 149);
    padding-top: 18px;
}

/*Project Information*/

.c-dash-container {
}

.c-row {
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
}

    .c-row .col {
        padding: 0;
    }

.c-devider {
    border-bottom: 1px solid #edecec;
    width: 90%;
    margin: 0 auto;
    height: 1px;
}

.c-title-1 {
    text-transform: uppercase;
    font-size: 9px;
    color: rgb(155, 154, 154);
}

.c-title-2 {
    text-transform: uppercase;
    font-size: 10px;
    color: rgb(0, 0, 0);
}

.c-title-3 {
    font-size: 12px;
    color: rgb(0, 0, 0);
}

.c-title-4 {
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.c-title-5 {
     text-transform: uppercase;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.c-title-center {
    text-align: center;
}

.c-text-nowrap {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.c-no-borders li {
    border: none !important;
}

.c-info-list {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.c-info-item:nth-child(2) {
    border-left: 1px solid #edecec;
}

.c-info-item:nth-child(3) {
    border-right: 1px solid #edecec;
    border-left: 1px solid #edecec;
}

.c-info-item {
   
    display: inline-block;
    padding: 5px;
    width: 22%;
}

.c-kpi {
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

.c-kpi-red {
    background-color: #de6464;
}

.c-kpi-green {
    background-color: mediumaquamarine;
}

.c-kpi-yellow {
    background-color: #f4c460;
}

.c-kpi-unknown {
    background-color: rgba(0, 0, 0, 0.15);
}

.c-kpi-list {
    margin: 0;
    width: 100%;
}

    .c-kpi-list li {
        text-align: center;
    }

/*Project Information end*/

/*pie */
.c-pie-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height:300px;
}

.chart {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 200px;
    text-align: center;
}

    .chart canvas {
        position: absolute;
        top: 0;
        left: 5%;
    }

.percent {
    display: block;
    padding-top: 50px;
    z-index: 2;
    font-size: 42px;
    font-weight: bold;
    margin: 0 auto;
}

    .percent:after {
        content: '%';
        margin-left: 0.1em;
        font-size: 16px;
        color: #808080;
    }

.c-pie-container .row {
    border-top: 1px solid #edecec;
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}

    .c-pie-container .row .col:nth-child(1) {
        border-right: 1px solid #edecec;
        text-align: right;
        padding-right: 5px;
        padding-top: 1%;
    }

    .c-pie-container .row .col:nth-child(2) {
        text-align: left;
        padding-left: 5px;
        padding-top: 1%;
    }

.c-pie-container .title {
    font-size: 2.8vw;
    display: block;
    color: #808080;
    padding-top: 3%;
}

.c-pie-container .val {
    display: block;
    font-weight: bold;
    color: #e04646;
    padding-top: 3%;
}

.c-pie-subtitle {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}